/********************************* NAVBAR **********************************/
.headerNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 80px;
    background: transparent;
    display: flex;
    justify-content: space-between; /* Ajusta espacio entre elementos */
    align-items: center;
    z-index: 100;
    background-color: rgb(0, 64, 150);
    transition: background-color ease 0.3s;
}

.headerNavBar:hover {
    background-color: rgb(0, 24, 121);
}

.logoNavBar {
    font-size: 1.875rem;
    color: white;
    font-weight: 700;
    transition: transform 0.3s ease, font-size 0.3s ease;
    text-align: center;
    display: inline-block;
    transform-origin: center;
}

/* Burger Menu */
.menuBurgerNavBar {
    padding-top: 10px;
    font-size: 1.875rem;
    color: white;
    display: none;
}

/* Navbar */
.navbarNavBar {
    display: flex;
    gap: 1.875rem; /* Espacio entre los enlaces */
}

.navbarNavBar a {
    position: relative;
    font-size: 1.125rem;
    color: white;
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    border-radius: 4px;
}

.navbarNavBar a:hover {
    background-color: rgba(0, 24, 121, 0.7);
    font-size: 1.1875rem;
}

.navbarNavBar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
}

.navbarNavBar a:hover::before {
    width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .headerNavBar {
        height: 60px;
        padding: 10px 30px;
        justify-content: space-between;
    }

    .logoNavBar {
        margin: 0 auto; /* Asegura que esté centrado */
    }

    .menuBurgerNavBar {
        cursor: pointer;
        display: block;
    }

    .navbarNavBar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgb(0, 64, 150);
        padding: 20px;
        gap: 10px;
    }

    .navbarNavBar.open {
        display: flex;
    }

    .navbarNavBar a {
        padding: 10px;
    }

    .navbarNavBar a::before {
        display: none; /* Desactiva la animación de línea */
    }

    .navbarNavBar a:hover {
        background-color: rgba(0, 24, 121, 0.7);
    }
}

/********************************* NAVBAR *********************************/

/********************************* FOOTER *********************************/

h4 {
    font-weight: 300;
    font-size: 1.25rem;
}

.generalFooter h3 {
    animation: h3 0.3s ease-in 0s 1 normal forwards;
    font-size: 1.5rem;
}

@keyframes h3 {
    0% {
        transform: scale(0.5); /* Inicialmente escalado a 2 veces su tamaño */
    }

    100% {
        transform: scale(1); /* Escala al tamaño original */
    }
}


.footerFooter {
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1.5px solid rgb(237, 237, 237);
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 -5px 10px rgb(237, 237, 237); /* Sombra en el borde superior */
}

.topFooter {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1.5px solid rgb(237, 237, 237);

}

.topFooter img {
    max-width: 100px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.topFooter .infoHMD {
    font-size: 0.9375rem;
    padding: 2px;
    line-height: 1.5;
}


.containerFooter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define dos columnas adaptativas */
    
    align-items: start; /* Alinea las secciones al inicio */
    padding-bottom: 30px;
}

.generalFooter {
    text-align: center;
    display: flex;
    flex-direction: column; /* Elementos alineados verticalmente */
    align-items: center; 
    justify-content: start;
    padding-left: 30px;
    padding-right: 30px;
}


.atencionClienteFooter {
    display: flex;
    flex-direction: column; /* Elementos alineados verticalmente */
    align-items: center;
}

.horariosFooter p{
    margin: 2px;
    font-size: 1rem;
}
.atencionClienteFooter h3{
    margin-bottom: 6px;
}

.dias {
    color: rgb(0, 24, 121);
}


.paginasFooter {
    display: flex;
    flex-direction: column; /* Elementos alineados verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio */

    padding-left: 30px;
    padding-right: 30px;
    
}

.paginasFooter ul {
    list-style: none;
    padding: 0;
}

.paginasFooter ul li {
    margin: 5px;
    position: relative;
}

.paginasFooter ul li:hover::before {
    content: '>  ';
    color: rgb(0, 24, 121); /* Color en hover */
    font-weight: 700;
    opacity: 1;
    transform: translateX(0);
}

.paginasFooter ul li::before {
    content: '>  ';
    color: rgb(0, 24, 121);
    font-weight: 700;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes arrowAppear {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.paginasFooter a {
    text-decoration: none;
    color: black;
    position: relative; /* Añadido */
    transition: color 0.3s ease;
    
}

.paginasFooter a:hover {
    color: rgb(0, 24, 121); /* Color en hover */
    font-weight: 700;
}

.paginasFooter a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(0, 24, 121);
    width: 0;
    height: 2px;
    transition: width 0.3s ease; 
}

.paginasFooter a:hover::before {
    width: 100%; /* Expande la línea al 100% */
}

.botonPedidoFooter {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #004096;
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Agregar transición para el transform */
}

.botonPedidoFooter:hover {
    background-color: rgb(0, 24, 121);
    transform: scale(1.3);
    font-weight: 700;

}


.emailInfo, 
.instagramInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.instagramInfo a {
    color: black;
    text-decoration: none;
}

.instagramInfo:hover, .instagramInfo a:hover{
    color: rgb(0, 24, 121);
    text-decoration: none;
    font-weight: 700;
}

.emailInfo:hover,  .emailInfo a:hover{
    color: rgb(0, 24, 121);
    text-decoration: none;
    font-weight: 700;
}


.bottomFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(237, 237, 237);
}

@media (max-width: 768px) {
    .bottomFooter {
        flex-direction: column; 
        align-items: center; 
        gap: 1rem; /* Aumenta el espacio entre elementos */
    }

    .emailInfo, .instagramInfo {
        width: 100%; 
        justify-content: center; 
    }

    .instagramInfo a {
        word-wrap: break-word;
    }
    .generalFooter h3, .generalFooter h4{
        font-size: 1rem;}
    
        .containerFooter > * {
            margin-bottom: 2rem; /* Aumenta la separación entre cada "bloque" principal */
        }
        
}
/********************************* FOOTER *********************************/

/********************************* NOT FOUND *********************************/
.containerNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7fafc;
    text-align: center;
}

.titleNotFound {
    font-size: 6rem;
    color: rgb(0, 24, 121);
    margin-bottom: 1rem;
}

.messageNotFound {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.buttonNotFound {
    background-color: #004096;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonNotFound:hover {
    background-color: rgb(0, 24, 121);
    transform: scale(1.1);
    font-weight: 700;
}
/********************************* NOT FOUND *********************************/


/********************************* NO INTERNET *********************************/
.containerNoInternet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7fafc;
    text-align: center;
}

.titleNoInternet {
    font-size: 3rem;
    color: rgb(0, 24, 121);
    margin-bottom: 1rem;
}
.messageNoInternet {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.imageNoInternet {
    width: 30vh;
    height: 30vh;
    margin-top: 20px;
}
/********************************* NO INTERNET *********************************/