@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-primario: rgb(0, 64, 150);
    --color-secundario: rgb(0, 24, 121);
}


.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

a {
    text-decoration: none;
}

main {
    flex: 1; /* Permite que este contenedor crezca para ocupar el espacio disponible */
    display: flex;
    flex-direction: column;
    /* padding-bottom: 60px; Ajusta el espacio para que el footer no se solape */
}

/********************************* NAVBAR **********************************/
.headerNavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 80px;
    background: transparent;
    display: flex;
    justify-content: space-between; /* Ajusta espacio entre elementos */
    align-items: center;
    z-index: 100;
    background-color: white;
    transition: background-color ease 0.3s;
    border-bottom: 1px solid var(--color-primario);
}


.logoNavBar {
    font-size: 1.875em;
    color: var(--color-primario);
    font-weight: 700;
    transition: transform 0.3s ease, font-size 0.3s ease;
    text-align: center;
    display: inline-block;
    transform-origin: center;
}

/* Burger Menu */
.menuBurgerNavBar {
    padding-top: 10px;
    font-size: 1.875em;
    color: var(--color-primario);
    display: none;
}

/* Navbar */
.navbarNavBar {
    display: flex;
    gap: 1.875em; /* Espacio entre los enlaces */
}

.navbarNavBar a {
    position: relative;
    font-size: 1.125em;
    color: var(--color-primario);
    font-weight: 500;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    border-radius: 4px;
}

.navbarNavBar a:hover {
    font-weight: bolder;
    font-size: 1.1875em;
}

.navbarNavBar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-primario);
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
}

.navbarNavBar a:hover::before {
    width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .headerNavBar {
        height: 60px;
        padding: 10px 30px;
        justify-content: space-between;
    }

    .logoNavBar {
        margin: 0 auto; /* Asegura que esté centrado */
    }

    .menuBurgerNavBar {
        cursor: pointer;
        display: block;
    }

    .navbarNavBar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--color-primario);
        padding: 20px;
        gap: 10px;
    }

    .navbarNavBar.open {
        display: flex;
    }

    .navbarNavBar a {
        padding: 10px;
    }

    .navbarNavBar a::before {
        display: none; /* Desactiva la animación de línea */
    }

    .navbarNavBar a:hover {
        background-color: rgba(0, 24, 121, 0.7);
    }
}

/********************************* NAVBAR *********************************/

/********************************* FOOTER *********************************/
h4 {
    font-weight: 300;
    font-size: 1.25em;
}
.generalFooter h3 {
    font-size: 1.5em;
}

footer {
    background: white;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1.5px solid rgb(237, 237, 237);
    z-index: 100;
    padding-bottom: 50px;
    
}

.topFooter {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1.5px solid rgb(237, 237, 237);

}

.topFooter img {
    max-width: 100px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.topFooter .infoHMD {
    font-size: 0.9375em;
    padding: 2px;
    line-height: 1.5;
}


.containerFooter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define dos columnas adaptativas */
    
    align-items: start; /* Alinea las secciones al inicio */
    padding-bottom: 30px;
}

.generalFooter {
    text-align: center;
    display: flex;
    flex-direction: column; /* Elementos alineados verticalmente */
    align-items: center; 
    justify-content: start;
    padding-left: 30px;
    padding-right: 30px;
}


.atencionClienteFooter {
    display: flex;
    flex-direction: column; /* Elementos alineados verticalmente */
    align-items: center;
}

.horariosFooter p{
    margin: 2px;
    font-size: 1em;
}
.atencionClienteFooter h3{
    margin-bottom: 6px;
}

.dias {
    color: var(--color-secundario);
}


.paginasFooter {
    display: flex;
    flex-direction: column; /* Elementos alineados verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio */

    padding-left: 30px;
    padding-right: 30px;
    
}

.paginasFooter ul {
    list-style: none;
    padding: 0;
}

.paginasFooter ul li {
    margin: 5px;
    position: relative;
}

.paginasFooter ul li:hover::before {
    content: '>  ';
    color: var(--color-secundario); /* Color en hover */
    font-weight: 700;
    opacity: 1;
    transform: translateX(0);
}

.paginasFooter ul li::before {
    content: '>  ';
    color: var(--color-secundario);
    font-weight: 700;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes arrowAppear {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.paginasFooter a {
    text-decoration: none;
    color: black;
    position: relative; /* Añadido */
    transition: color 0.3s ease;
    
}

.paginasFooter a:hover {
    color: var(--color-secundario); /* Color en hover */
    font-weight: 700;
}

.paginasFooter a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-secundario);
    width: 0;
    height: 2px;
    transition: width 0.3s ease; 
}

.paginasFooter a:hover::before {
    width: 100%; /* Expande la línea al 100% */
}

.botonPedidoFooter {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Agregar transición para el transform */
}

.botonPedidoFooter:hover {
    background-color: var(--color-secundario);
    transform: scale(1.3);
    font-weight: 500;

}


.emailInfo, 
.instagramInfo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}

.instagramInfo a {
    color: black;
    text-decoration: none;
}

.instagramInfo:hover, .instagramInfo a:hover{
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: 700;
}

.emailInfo:hover,  .emailInfo a:hover{
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: 700;
}


.bottomFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(237, 237, 237);
}

@media (max-width: 768px) {
    .bottomFooter {
        flex-direction: column; 
        align-items: center; 
        gap: 1em; /* Aumenta el espacio entre elementos */
    }

    .emailInfo, .instagramInfo {
        width: 100%; 
        justify-content: center; 
    }

    .instagramInfo a {
        word-wrap: break-word;
    }
    .generalFooter h3, .generalFooter h4{
        font-size: 1em;}
    
    .containerFooter > * {
        margin-bottom: 2em;
    }
}
/********************************* FOOTER *********************************/

/********************************* NOT FOUND *********************************/
.containerNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7fafc;
    text-align: center;
}

.titleNotFound {
    font-size: 6em;
    color: var(--color-secundario);
    margin-bottom: 1em;
}

.messageNotFound {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.buttonNotFound {
    background-color: var(--color-primario);
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonNotFound:hover {
    background-color: var(--color-secundario);
    transform: scale(1.1);
    font-weight: 700;
}
/********************************* NOT FOUND *********************************/


/********************************* NO INTERNET *********************************/
.containerNoInternet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7fafc;
    text-align: center;
}

.titleNoInternet {
    font-size: 3em;
    color: var(--color-secundario);
    margin-bottom: 1em;
}
.messageNoInternet {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.imageNoInternet {
    width: 30vh;
    height: 30vh;
    margin-top: 20px;
}
/********************************* NO INTERNET *********************************/

/********************************* WHATSAPP POPUP *********************************/
.WhatsappPopUp {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(237, 237, 237);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 250px;
    
    }



.iconWhatsappPopUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: #25d366;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Transición suave para el ícono */
    animation: bounceTop 1s linear 0s 1 normal forwards;
}

@keyframes bounceTop {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

.iconWhatsappPopUp:hover {
    background-color: #128c7e;
}
/* Estilo para el mensaje */
.iconWhatsappPopUp::after {
    content: "Ir a WhatsApp";  /* Mensaje que aparecerá */
    position: absolute;
    text-align: center;

    bottom: 50px;  /* Coloca el mensaje arriba del ícono */
    right: 50px;

    width: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-size: 12px;
}

/* Mostrar el mensaje al hacer hover */
.iconWhatsappPopUp:hover::after {
    opacity: 1;
    visibility: visible;
}
/********************************* WHATSAPP POPUP *********************************/

/********************************* CONTACTO *********************************/
.contactPage {
    background-image: url('assets/backgroundContacto.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    flex-direction: column;
    position: relative; /* Esto es importante para el pseudo-elemento */
}

.contactPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegura que cubra toda la altura de la pantalla */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.contactInfo {
    margin: 1em auto; 
    padding: 20px 40px;
    width: 100%; 
    max-width: 100vh;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.6);;
    border: 1.5px solid rgb(237, 237, 237);
    border-radius: 8px; 
    background-color: #fff;
    z-index: 2; 
}

.contactInfo h2 {
    font-size: 2.2em;
    text-align: center;
    color: var(--color-secundario);
}

.contactInfo p {
    text-align: center;
    color: var(--color-secundario);

}

.adicionalContact {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 2em; 
}

/* > indica el elemento inmediato dentro de la clase */
.adicionalContact > div { 
    flex: 1; 
    min-width: 200px; 
    border-right: 1.5px solid rgba(0, 0, 0, 0.2); /* Borde entre los divs */
    padding-right: 1.5em; /* Asegura que el borde no quede pegado al contenido */
}

.adicionalContact > div:last-child {
    border-right: none; /* El último div no tendrá borde */
    padding-right: 0;
}

.info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    margin: 1em 0;
    padding: 1em 1.5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1.5px solid rgb(237, 237, 237);
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

.info-item a{
    cursor:pointer;
}

.info-item:hover {
    background-color: var(--color-secundario);
    color: white; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px); 
}

.contact-icon {
    font-size: 1.5em; 
    color: var(--color-secundario); 
}

.info-item:hover .contact-icon {
    color: white; 
}

.instagramInfoContact {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 1em; 
    padding: 1em 1.5em;
    margin: 1em auto;
    width: 100%; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border: 1.5px solid rgb(237, 237, 237);
    border-radius: 10px;
    background-color: #f9f9f9; 
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-secundario); 
    transition: all 0.3s ease-in-out; 
}

.instagramInfoContact:hover {
    background-color: var(--color-secundario); 
    color: white; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px); 
}

.instagramInfoContact a {
    text-decoration: none; 
    color: inherit; 
    font-weight: bold;
    transition: color 0.3s ease-in-out; 
}

.instagramInfoContact:hover a {
    color: white; 
}

.instagramInfoContact .fa-instagram {
    font-size: 1.5em; 
    color: inherit; 
    transition: color 0.3s ease-in-out;
}

.instagramInfoContact:hover .fa-instagram {
    color: white; 
}

@media (max-width: 768px) {
    .contact-icon {
        display: none;
    }
    
    .adicionalContact {
        flex-direction: column;
        align-items: center;
    }

    .adicionalContact > div {
        padding-right: 0;
        margin-bottom: 1em;
        border-right: none; /* El borde se elimina cuando está en columna */

        border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 1.5em;
        
    }

    .adicionalContact > div:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

}

/* Para pantallas con un ancho máximo de 424px */
@media (max-width: 424px) {
    .contact-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem; 
    }

    .info-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        position: relative;
        cursor: pointer;
    }

    .telfContact {
        display: inline-block
    }
    
    .emailContact, .direccContact {
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .info-item:hover .emailContact,
    .info-item:hover .direccContact {
        display: inline; /* Mostrar el texto */
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease;
        font-size: 0.8rem;
    }

    .info-item:hover .contact-icon {
        opacity: 0;
    }

}
/********************************* CONTACTO *********************************/

/********************************* INICIO *********************************/
.homePage {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
    position: relative;
}

.contentWrapper {
    margin: 0 auto;
    text-align: center;
}

/* Sección 1: Overview */
.firstSectionHome {
    background-image: url('assets/firstSectionHome.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 5rem;
    flex-direction: column;
    position: relative;
    color: white;
}

.firstSectionHome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    z-index: 0;
}

.firstSectionHome h1 {
    font-size: 4rem; /* Tamaño adaptable */
    line-height: 100%;
    margin-bottom: 2rem;
    z-index: 1; 
    position: relative;
    font-weight: 600;
    text-align: center; /* Asegura que el texto se centre */
}

.firstSectionHome span {
    font-size: 2rem; /* Tamaño más pequeño en pantallas pequeñas */
    font-weight: 600;
    position: relative;
    display: inline-block;
    animation: fadeText 16s infinite;
    color: white;
    transform: translateY(0);
    opacity: 0;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    text-align: center; /* Centra el texto */
}

.firstSectionHome span:hover {
    transform: scale(1.1); /* Escala suave en hover */
    text-shadow: 0px 0px 20px black; /* Sombra llamativa */
}

/* Keyframes para cambio de texto (sin cambios) */
@keyframes fadeText {
    0%, 20% {
        opacity: 1;
        transform: translateY(0);
        content: "Materiales y equipos médicos de calidad";
    }
    21%, 25% {
        opacity: 0;
        transform: translateY(20px);
    }

    26%, 45% {
        opacity: 1;
        transform: translateY(0);
        content: "Precios competitivos";
    }
    46%, 50% {
        opacity: 0;
        transform: translateY(20px);
    }

    51%, 70% {
        opacity: 1;
        transform: translateY(0);
        content: "Soluciones a tus necesidades";
    }
    71%, 75% {
        opacity: 0;
        transform: translateY(20px);
    }

    76%, 95% {
        opacity: 1;
        transform: translateY(0);
        content: "Tu aliado confiable en salud";
    }
    96%, 100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.firstSectionHome span::before {
    content: "Materiales y equipos médicos de calidad"; 
    animation: fadeText 16s infinite;
}


@media (max-width: 768px) {
    .homePage{
        margin-top: 60px;
    }
    .firstSectionHome {
        padding: 5rem 2rem; /* Reduce aún más el padding */
    }
    .firstSectionHome h1 {
        font-size: 2.5rem; /* Más pequeño para pantallas medianas */
    }
    .firstSectionHome span {
        font-size: 1.5rem; /* Texto más pequeño */
    }
}

@media (max-width: 480px) {
    .firstSectionHome {
        padding: 4rem 1rem; /* Ajuste mínimo para pantallas pequeñas */
    }
    .firstSectionHome h1 {
        font-size: 2rem; /* Título compacto */
    }
    .firstSectionHome span {
        font-size: 1.2rem; /* Texto más pequeño pero legible */
    }
}



/* Sección 2: Características destacables */
.secondSectionHome {
    background-image: url('assets/secondSectionHome.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 60vh;
    padding: 2.5rem 1.5rem;
    padding-top: 1rem;
    text-align: center;
    position: relative; /* Establece el contexto de posicionamiento */
    z-index: 1; /* Capa base del contenido */
}

.secondSectionHome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo semitransparente */
    z-index: -1; /* Envía el fondo detrás del contenido */
}

.secondSectionHome h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--color-primario);
    padding: 40px;
    font-weight: 600;
    position: relative; /* Asegura que esté sobre el pseudo-elemento */
    z-index: 1;
}

.caracteristicasHomePage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Ajuste responsivo */
    gap: 2rem; /* Reduce el espacio entre las tarjetas */
    justify-items: center;
    align-items: start;
    position: relative;
    z-index: 1;
    padding: 20px 50px 40px;
}

.caracteristicaItem {
    background: var(--color-primario);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    max-width: 20rem; 
    width: 100%; 
    height: 100%; 
    box-shadow: 0 0.5rem 1.4rem 0.2rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.caracteristicaItem:hover {
    background: white;
    transform: translateY(-0.5rem);
    
}

/* Tamaño de los iconos */
.iconWrapper {
    position: relative;
    width: 7rem;
    height: 7rem;
    margin: 0 auto 1.5rem;
    perspective: 1000px;
    z-index: 1;
}

.iconFront, .iconBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.6s ease, box-shadow 0.3s ease;
}

.iconFront {
    color: var(--color-primario);
    font-size: 3.5rem; /* Aumentado el tamaño del ícono */
    box-shadow: inset 0 0 0.7rem rgba(0, 0, 0, 0.1); /* Efecto incrustado */
    background-color: white;
}

.iconBack {
    background: var(--color-primario);
    color: white;
    font-size: 3.5rem; /* Aumentado el tamaño del ícono */
    transform: rotateY(180deg);
    box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.2); /* Efecto sobresalido */
}

.caracteristicaItem:hover .iconFront {
    transform: rotateY(180deg);
    box-shadow: inset 0 0 0.7rem rgba(0, 0, 0, 0.1); /* Aumentar el efecto incrustado al hacer hover */
}

.caracteristicaItem:hover .iconBack {
    transform: rotateY(360deg);
    box-shadow: 0.2rem 0.7rem 0.7rem rgba(0, 0, 0, 0.3); /* Efecto sobresalido */
}

.caracteristicaItem h3 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.caracteristicaItem:hover h3 {
    color: var(--color-primario);
}

/* Estado inicial del párrafo */
.caracteristicaItem p {
    opacity: 0; 
    max-height: 0; 
    visibility: hidden; 
    font-size: 1.2rem;
    color: var(--color-primario);
    font-weight: 300;
    position: relative;
    z-index: -1; 
    overflow: hidden; 
    transition: opacity 0.3s ease, max-height 0.3s ease, visibility 0s 0.3s; 
}

/* Cuando se hace hover en la tarjeta */
.caracteristicaItem:hover p {
    opacity: 1; 
    max-height: 200px; 
    visibility: visible; 
    font-size: 1.2rem;
    color: var(--color-primario);
    font-weight: 300;
    position: relative;
    z-index: 1; 
    overflow: visible; 
    transition: opacity 0.3s ease, max-height 0.3s ease, visibility 0s; 
}


.botonContactoHome {
    font-size: 1.4rem;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: white;
    color: var(--color-primario);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: font-weight 0.1s ease;
}

.caracteristicaItem:hover .botonContactoHome{
    box-shadow: inset 0 0 0.7rem rgba(0, 0, 0, 0.1); /* Efecto incrustado */
}

.botonContactoHome:hover {
    font-weight: 600;
}

.contentWrapper > p {
    font-size: 1.5rem;
}

.botonANosotros {
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
}

.botonANosotros:hover {
    font-weight: 500;
    background: var(--color-secundario);
    transform: scale(1.1);
}


/* Sección 3: Catálogo */
.thirdSectionHome {
    background: #ffffff;
    padding: 50px 20px;
}

.thirdSectionHome h1 {
    font-size: 2.5rem;
    color: var(--color-primario);
    text-align: center;

    font-weight: 600;
}

.thirdSectionHome h1 a {
    color: var(--color-primario); 
    text-decoration: none; 
    font-weight: bold; 
    position: relative; 
    display: inline-block; 
    transition: color 0.3s ease; 
}

.thirdSectionHome h1 a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 100%; 
    height: 3px; 
    background: var(--color-secundario); 
    transform: scaleX(0); 
    transform-origin: left; 
    transition: transform 0.3s ease; 
    
}

.thirdSectionHome h1 a:hover::after {
    transform: scaleX(1); 
}

.thirdSectionHome h1 a:hover{
    animation: shakeBottom 1.5s ease 0s 1 normal forwards;
}
@keyframes shakeBottom {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 100%;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

.catalogContainer {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center; 
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto; 
}

@media (max-width: 1080px) {
    .catalogContainer {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .catalogContainer {
        grid-template-columns: repeat(1, 1fr); 
    }
}



.fourthSectionHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh; 
    padding: 20px;
    gap: 60px;
}


.imageContainer {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 50%; 
    height: 100%;
    
}

.zoomImage {
    width: 100%;
    height: 100%;
    background-image: url('assets/antibacterial.png'); 
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    border-radius: 10rem;
    border-top-right-radius: 0;
    
}


.contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding-left: 20px;
    text-align: left;
    color: var(--color-primario);
}

.contentContainer h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contentContainer p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.ctaButton {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: #0056b3;
}


@media (max-width: 1024px) {
    .fourthSectionHome {
        flex-direction: column; 
        gap: 0px;
    }

    .imageContainer {
        width: 100%; 
        height: 50vh; 
    }
    .zoomImage{
        border-radius: 0;
    }

    .contentContainer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .contentContainer h1 {
        font-size: 2.5rem;
    }

    .contentContainer p {
        font-size: 1.2rem;
    }

    .ctaButton {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .imageContainer {
        height: 40vh;
    }

    .contentContainer h1 {
        font-size: 2rem;
    }

    .contentContainer p {
        font-size: 1rem;
    }

    .ctaButton {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .imageContainer {
        height: 30vh;
    }

    .contentContainer h1 {
        font-size: 1.5rem;
    }

    .contentContainer p {
        font-size: 0.9rem;
    }

    .ctaButton {
        font-size: 0.8rem;
        padding: 8px 16px;
    }
}



.firstSectionHome, .secondSectionHome, .thirdSectionHome, .fourthSectionHome {
    width: 100%;
}

/********************************* INICIO *********************************/

/********************************* FLIP CARD *********************************/
.flipCard {
    position: relative;
    width: 100%;
    min-width: 260px;
    max-width: 400px;
    height: 30rem;
    border-radius: 1.5rem;
    border: 8px solid white;
    box-shadow: 25px 25px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 40px;
    margin-top: 40px;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 1.5rem; 
    transition: transform 0.3s ease-in-out; 
}

.flipCard:hover .cardImg {
    transform: scale(1.1); 
}

.cardBody {
    position: absolute; /* Para que se posicione relativo a .flipCard */
    top: 0;
    right: -100%; /* Oculto inicialmente */
    width: 100%;
    height: 100%;
    color: white;
    background: rgb(0, 64, 150, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 1.5rem; /* Asegura que el cuerpo siga la curva del borde */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.6s ease-in-out; /* Define que "right" se anime */
}

/* Mueve el cuerpo hacia su posición al hacer hover */
.flipCard:hover .cardBody {
    right: 0; /* Se desliza a la posición visible */
}

.cardBody h1 {
    font-size: 2rem; 
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: white;
}

.cardInfo {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 20px 0;
    font-weight: 400;
    text-align: center;
}

.cardButton {
    display: inline-block;
    font-size: 1rem;
    margin-top: 1em;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
    padding: 0.8rem 1.5rem;
}

.cardButton:hover {
    background-color: var(--color-secundario);
    transform: scale(1.1); 
}
/********************************* FLIP CARD *********************************/